*{
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-family: 'Trebuchet MS';
}

.wrapper{
    width: 1000px;
    margin: 0 auto;
}

header{
    background-color: #b3b3b3;
}

nav{
    background-color: #b3b3b3;
}

aside{
    background-color: #b3b3b3;
    float: left;
    width: 25%;
    height: 350px;
}

section{
    background-color: #b3b3b3;
    float: right;
    width: 74%;
    height: 350px;
}

article{
    background-color: #9e9e9e;
    margin: 0 auto;
    width: 95%;
}

details{
    background-color: #949494;
    font-size: 12px;
    margin: 0 auto;
    width: 85%;
}

#sumdetails{
    background-color: #808080;
}

footer{
    background-color: #b3b3b3;
    clear: both;
}